/* styles.css */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

.form-box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-box label {
    display: flex;
    flex-direction: column;
}

.form-box input {
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-box button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-box button:hover {
    background-color: #0056b3;
}

.form-box a {
    color: #007bff;
    text-decoration: none;
}

.form-box a:hover {
    text-decoration: underline;
}

.login-form p {
    text-align: center;
}

.login-form a {
    color: #007bff;
    text-decoration: none;
}

.login-form a:hover {
    text-decoration: underline;
}
.create-new-link, .create-new-button {
    display: block;
    margin: 20px 0;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}
.create-new-link:hover, .create-new-button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
